.tabela-horarios {
    table-layout: fixed;
}

.tabela-horarios th i {
    margin-right: 10px;
}

.horario-badge span {
    font-size: 0.778rem;
    background-color: #fff;
}

.horario-badge:not(:last-child) {
    margin-bottom: 5px;
}

.horario-badge button {
    font-size: .6rem;
}