header {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 15px 10px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    margin:0;
}

.user-info {
    text-align: right;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

    header a:hover {
        color: var(--color-primary-light);
    }