.conteudo-wrapper {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 30px;
    max-width: 420px;
    width: 100%;
}
