/* Estilos para o menu */
.menu ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

    .menu a:hover {
        color: var(--color-primary-light);
    }
