body {
    background-image: url('sala_espera_002.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.logo {
    width: 100px;
}

.nav-tabs {
    border-bottom: none;
    display: flex;
    justify-content: center;
    width: 100%;
}

    .nav-tabs .nav-item {
        flex: 1; /* faz cada item ocupar a mesma fração de espaço */
        text-align: center;
    }

    .nav-tabs .nav-link {
        width: 100%; /* faz o botão expandir dentro do item */
        border: none;
        border-bottom: 3px solid transparent;
        font-weight: 500;
        transition: border-color 0.3s, color 0.3s;
        background: none;
        color: var(--color-primary);
        padding: 0.75rem 1rem;
    }

        .nav-tabs .nav-link.active {
            border-color: var(--color-primary-dark);
            color: var(--color-primary-dark);
            font-weight: bold;
        }